<ng-container   *ngIf="product">
<div class="img-container">
    <div id="discount-overlay">
        <span class="badge-primary">-{{product.discountPercentage}}%</span>
    </div>
    <img [src]="product.thumbnail">
</div>
<div class="card-body">
    <div class="card-header">
        <h4 class="card-title">{{product.title | slice:0:25 }}</h4>
        <p class="card-desc" id="product-description">{{product.description}}</p>
    </div>

    <div class="flex-row" id="price-display ">
        <span id="orignalPrice"><b>{{product.price}}</b> USD</span>
        <span><b>{{product.price-(product.price * product.discountPercentage/100) | number:'.1-3' }}</b>
            USD</span>
    </div>
    <div id="product-info">
        <ul>
            <li>Brand : <b>{{product.brand}}</b></li>
            <li>Category : <b>{{product.category}}</b></li>
            <li>In stock : <b>{{product.stock}}</b></li>
        </ul>
    </div>
    <div id="product-rating">
        <app-star-svg id="start-svg"></app-star-svg><span>{{product.rating}} </span>(11)
    </div>
    <button class="btn-primary" (click)="addToCart()"> ADD TO CART</button>
</div>
</ng-container>
