footer{
    background-color: #1D2939;

}
.footer-content{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.brand{
    display: flex;
    align-items: center;
    font-size: 1.2em;

}
.copyrights{
    color:#98A2B3;
    font-size: 1.1em;
}
