<section class="container">
    <div  class="login flex-column justify-content-center align-center">
        <app-navbar-logo></app-navbar-logo>
        <h1>Log in to your account</h1>
        <p>Welcome back! Please enter your details.</p>
        <form>
            <div class="form-group">
                <label>Email</label>
                <input type="email" placeholder="Enter Your Email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password">
            </div>
            <button type="submit" class="btn-primary">Sign In</button>
        </form>
    </div>
</section>
