<section >
    <div class="container">
    <div class="login flex-column justify-content-center align-center">
        <app-navbar-logo></app-navbar-logo>
        <h1>Log in to your account</h1>
        <p>Welcome back! Please enter your details.</p>
        <div class="alert alert-danger" *ngIf="errMessage">
            <p>{{errMessage}}</p>
        </div>
        <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
                <label>UserName</label>
                <input type="text" formControlName="username" placeholder="Enter Your username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password">
            </div>
            <button type="submit" class="btn-primary" [disabled]="!loginForm.valid">Sign In</button>
        </form>
    </div>
</div>
</section>
