<div id="categories-list">
  <p>Products</p>
  <form *ngIf="categoiesForm && cateogries.length" [formGroup]="categoiesForm">
    <ul>
      <li>
        <input
          type="radio"
          formControlName="category"
          name="category"
          value=""
          (click)="onChooseCategory('')"
        />
        All Products ({{totalProducts}})
      </li>
      <li *ngFor="let categoryInfo of cateogries">
        <input
          type="radio"
          name="category"
          formControlName="category"
          [value]="categoryInfo.category"
          (click)="onChooseCategory(categoryInfo.category)"
        />
        {{ categoryInfo.category }} ({{ categoryInfo.count }})
      </li>
    </ul>
  </form>
</div>
