<section *ngIf="ProductResponse">
    <main id="product-list">
        <ng-container *ngFor="let product of ProductResponse.products">
            <app-product [product]="product"></app-product>
        </ng-container>
    </main>
    <div id="paging" *ngIf="pagesArr.length>1">
        <span (click)="onChangePage(currentPage-1)"  *ngIf="currentPage>1"><</span>
        <ng-container *ngFor="let page of pagesArr">
            <span (click)="onChangePage(page)" [ngClass]="currentPage==(page)? 'selected' :'' ">{{page}}</span>
        </ng-container>
        <span (click)="onChangePage(currentPage-1)" *ngIf="currentPage<totalPages">></span>
    </div>
</section>
