<section *ngIf="ProductResponse">
  <main id="product-list">
    <ng-container *ngFor="let product of ProductResponse.products">
      <app-product [product]="product"></app-product>
    </ng-container>
  </main>
  <div id="paging" *ngIf="pagesArr.length > 1">
    <span (click)="onChangePage(currentPage - 1)" *ngIf="currentPage > 1">
      <
    </span>
    <ng-container *ngFor="let page of pagesArr">
      <ng-container
        *ngIf="
          page == currentPage ||
          (page > currentPage - 1 && page < currentPage + 1) ||
          page == totalPages ||
          page == 1
        "
      >

        <ng-container
        *ngIf="
        (page > currentPage + 1) ||
          (page != 1 && page > currentPage - 1 && currentPage - 1 > 1 && currentPage+1<totalPages)
        "
        ><span style="pointer-events: none" >...</span></ng-container
      >
        <span
          (click)="onChangePage(page)"
          [ngClass]="currentPage == page ? 'selected' : ''"
        >
          {{ page }}
        </span>
      </ng-container>
    </ng-container>
    <span
      (click)="onChangePage(currentPage + 1)"
      *ngIf="currentPage < totalPages"
      >></span
    >
  </div>
</section>
