<nav>
    <div class="container">
        <div class=" navbar">

            <div class="navbar-brand d-flex align-center">
                <app-navbar-logo></app-navbar-logo>
                <h3>ClickTik</h3>
            </div>
            <div class="nav-links-container d-flex justify-content-between align-center">
                <ul class="nav-links">
                    <li>
                        <a (click)="navigate('/home')" [routerLinkActive]="'active'">Home</a>
                    </li>
                </ul>
                <ul class="nav-links">
                    <ng-container *ngIf="!userData;else elseTemplate">
                        <li>
                            <a (click)="navigate('/auth/login')">login</a>
                        </li>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <form *ngIf="searchForm" [formGroup]="searchForm" class="flex-row justify-content-between"
                            id="searchForm">
                            <div class="form-group" id="search-input">
                                <input type="text" placeholder="search" formControlName="searchTerm">
                                <app-search-glass-svg id="svg-search"></app-search-glass-svg>
                            </div>

                        </form>
                        <div class="flex-row justify-content-between" id="account">
                            <span id="cart-container">
                                <app-cart-svg id="svg-cart"></app-cart-svg>
                            </span>
                            <li id="acc-info" style="position: relative;">
                                <a style="cursor:pointer;" (click)="showList=!showList">Account</a>
                                <ul  *ngIf="showList">
                                    <li>Hi, {{ userData?.username}}</li>
                                    <li (click)="logOut()" style="cursor: pointer;">Logout</li>
                                </ul>
                            </li>
                        </div>

                    </ng-template>
                </ul>
            </div>
        </div>
    </div>
</nav>
