section{
    padding-top: 80px;
    padding-bottom: 40px;
}
#home-layout{
   display: grid;
   grid-template-columns: 1fr 3fr;
}

#pathString{
    margin-bottom: 20px;
    span:last-of-type{
        font-weight: 800;
    }
}
