<section class="container ">
    <h4>{{pathObject.SearchTerm}}</h4>
    <p id="pathString">
        <ng-container *ngFor="let key of keys;let i=index">
            <ng-container *ngIf="pathObject[key]">
                {{i==0?" ": " / "}}<span>{{pathObject[key]}}</span>
            </ng-container>
        </ng-container>
    </p>
    <div class=" flex-row" id="home-layout">
        <div id="categories">
            <app-category-list (selectCategoryEvent)="onSelectCategory($event)"></app-category-list>
        </div>
        <div id="products">
            <app-products-list></app-products-list>
        </div>
    </div>
</section>
